{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <!--<hr/>-->
        {{ content }}

    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">Modules</div>
            <ol class="list-group">
                <li><a href="module1.html">Demo / Overview</a></li>
                <li><a href="module2.html">Adobe I/O Runtime Shell</a></li>                
                <li><a href="module3.html">Adobe Console Integration</a></li>                                
                <li><a href="module4.html">Event Handler Webhook</a></li>                                            
                <li><a href="module5.html">Exercise 1: Sensei Image Quality</a></li>
                <li><a href="module6.html">Exercise 2: Manual Image Processing</a></li>
                <li><a href="module7.html">Exercise 3: Sensei Body Crop</a></li>
                <li><a href="module8.html">Exercise 4: Sensei Auto Swatch </a></li>
                <li><a href="module9.html">Exercise 5: Sensei Auto Tag</a></li>
            </ol>
            <p></p>
        </div>

<a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
   data-url="http://hollyschinsky.github.io/pwa-workshop"
   data-text="Cross Platform Progressive Web Apps #PhoneGap #Cordova">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://twitter.com/adobeio" class="twitter-follow-button" data-show-count="true"
   data-size="large" data-lang="en">Follow
    @adobeio</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

</div>

</div>

{% include bootstrap-footer.html %}
