{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-xs-12 col-sm-8">
        <h1>{{ page.title }}</h1>
        <!--<hr/>-->
        {{ content }}

    </div>

    <div class="col-xs-12 col-sm-4 right-nav">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="font-variant:small-caps;font-size: 18px;">Lessons</div>
            <ol class="list-group">
                <li><a href="lesson1.html">Overview / Demo</a></li>
                <li><a href="lesson2.html">Project Setup</a></li>                
                <li><a href="lesson3.html">Webhook Creation</a></li>                                
                <li><a href="lesson4.html">I/O Integration Settings</a></li>                                            
                <li><a href="lesson5.html">Define Actions</a></li>
                <li><a href="lesson6.html">Code the Composition</a></li>
                <li><a href="lesson7.html">Deploy Composition</a></li>
                <li><a href="lesson8.html">Invoke Composition</a></li>
                <li><a href="lesson8.html">Adobe I/O Cloud Shell</a></li>
            </ol>
            <p></p>
        </div>

<a href="https://twitter.com/share" class="twitter-share-button" data-size="large"
   data-url="http://hollyschinsky.github.io/pwa-workshop"
   data-text="Cross Platform Progressive Web Apps #PhoneGap #Cordova">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://twitter.com/dragosche" class="twitter-follow-button" data-show-count="true"
   data-size="large" data-lang="en">Follow
    @dragosche</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

</div>

</div>

{% include bootstrap-footer.html %}
